@media (min-width: 481px) {

    body {
        font-size: 15px;
    }

    header h1 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.3em;
    }

    main section h2 {
        font-size: 2em;
    }

    img {
        max-width: 520px;
    }
    .credit {
        align-self: center;
    }

    .gallery-thumbs img {
        width: 80px;
        height: 55px;
    }
}

@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    header {
        flex-direction: row;
    }

    header nav ul li a {
        font-size: 1.2em;
        padding: 3px;
    }

    main#container {
        padding: 25px;
    }

    p {
        line-height: 1.5em;
        font-size: 1.3em;
    }

    .gallery {
        max-width: 720px;
    }

    .gallery-main {
        max-width: 720px;
    }

    .gallery-thumbs img {
        width: 95px;
        height: 65px;
    }
}

@media (min-width: 1024px) {

    body {
        font-size: 18px;
    }

    header h1 {
        font-size: 2.6rem;
    }

    main#container {
        max-width: 1500px;
        margin: auto;
        gap: 3em;
    }

    main section h2 {
        font-size: 2.6em;
    }

    p {
        font-size: 1.4em;
        line-height: 1.8em;
    }
    
    img {
        max-width: 650px;
    }

    .gallery {
        max-width: 600px;
    }

    .gallery-thumbs {
        gap: 12px;
    }

    .gallery-thumbs img {
        width: 110px;
        height: 75px;
    }

    .footer-content {
        justify-content: space-between;
    }
}
