@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'F1 Font';
    src: url(font/Formula1-Bold_web_0.ttf) format(truetype);
}

:root {
    --vermelho: #E10600;
    --amarelo: #f2b138;
    --vermelho-escuro: #73061a;

    --fonte-texto: "Titillium Web", sans-serif;
    --fonte-titulo: "F1 Font";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: var(--fonte-texto);
    font-size: 14px;
}

h1, h2 {
    font-family: var(--fonte-titulo);
}

p {
    font-size: 1.4em;
    text-indent: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    padding: 10px 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: var(--vermelho);
    padding: 10px;
}

header h1 {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3px;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: gray;
    color: var(--vermelho);
}

main#container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 15px;
}

main section h2 {
    font-size: 1.7em;
}

img {
    display: block;
    height: 300px;
}

footer {
    background-color: black;
    color: var(--vermelho);
    padding: 15px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content p {
    font-size: 1em;
    text-indent: 0px;
    line-height: 5px;
    text-align: justify;
    padding: 10px 0;
}

.footer-section h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li a {
    color: var(--vermelho);
    text-decoration: none;
    font-size: 0.9em;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section img {
    width: 150px;
    height: 150px;
}

.footer-bottom {
    background-color: var(--vermelho);
    color: black;
    
    display: flex;
    justify-content: center;

    padding: 5px;
    font-size: 0.85em;
}

.gallery {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.gallery-main {
    width: 100%;
    max-width: 600px;
    min-width: 260px;
    height: auto; /* PODEMOS MUDAR ISSO FUTURAMENTE */
    border-radius: 12px;
    transition: opacity 0.3 ease;
    object-fit: cover;
}

.gallery-thumbs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
    flex-wrap: wrap;
}

.gallery-thumbs img {
    width: 65px;
    object-fit: cover;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.6;
    transition: 0.3 ease;
}

.gallery-thumbs img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.gallery-thumbs img.active {
    opacity: 1;
    outline: 2px solid var(--vermelho);
}